.md-app {
    min-height: 100vh;
}

.md-drawer {
    width: 250px;
}

td.image_cell {
    padding: 0;
}

.md-card.no-margin {
    margin: 0;
}

.md-checkbox.no-margin {
    margin: 0;
}

td.image_cell {
    .md-table-cell-container {
        padding: 0;
        margin: 0;
    }

    img {
        height: 100px;
    }
}

.page-container.light {
    table {
        tr.md-table-row:nth-child(2n) {
            background: hsla(0, 0%, 91.4%, .59);
        }
    }

    .md-app-content {
        background: #e2e2e2;
    }
}


.md-table-inner-div-cell {
    width: 100%;
    display: table-cell;

}


table {
    tr.md-table-row.inner-row {
        &:hover() {
            background: gray;
        }

        background: gray;

        td.inner-cell {
            &:hover() {
                background: gray;
            }

            background: gray;
        }
    }
}