<template>
  <div class="md-layout">
    <loading v-if="loading"></loading>
    <div class="md-layout-item md-size-100">
      <md-card class="no-margin">
        <md-card-header>
          <h2>Filtre</h2>
        </md-card-header>
        <md-card-content>
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-size-25">
              <md-field>
                <label>Arama Terimi</label>
                <md-input v-model="filter"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-size-25">
              <md-field>
                <label>Aktif / Pasif</label>
                <md-select v-model="activeFilter">
                  <md-option :value="-1">Birini Seçin</md-option>
                  <md-option :value="0">Pasif</md-option>
                  <md-option :value="1">Aktif</md-option>
                </md-select>
              </md-field>
            </div>
          </div>
        </md-card-content>
        <md-card-actions>
          <md-button class="md-raised" @click="clear">Temizle</md-button>

          <md-button class="md-raised md-primary" @click="load">Filtrele</md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div class="md-layout-item md-size-100">
      <md-table>
        <md-table-row>
          <md-table-head>ID</md-table-head>
          <md-table-head>Resim</md-table-head>
          <md-table-head>Ürün İsmi</md-table-head>
          <md-table-head>Gram</md-table-head>
          <md-table-head>Ayar</md-table-head>
          <md-table-head>Aktif</md-table-head>
          <md-table-head></md-table-head>
        </md-table-row>
        <md-table-row v-for="product in products" :key="product.Id">
          <md-table-cell>{{product.Id}}</md-table-cell>
          <md-table-cell class="image_cell">
            <img style :src="api.gen(product.Id)" alt />
          </md-table-cell>

          <md-table-cell>{{product.Name}}</md-table-cell>
          <md-table-cell>{{product.Weight |cevir}}</md-table-cell>
          <md-table-cell>{{product.Carat |cevir}}</md-table-cell>
          <md-table-cell>{{product.Active | bool}}</md-table-cell>
          <md-table-cell>
            <md-button class="md-raised md-icon-button md-primary" :to="'/urun/'+product.Id">
              <md-icon>edit</md-icon>
            </md-button>
          </md-table-cell>
        </md-table-row>
      </md-table>
    </div>
  </div>
</template>

<script>
import inlineLoaderVue from "../../components/inlineLoader.vue";
import api from "@/api";
export default {
  created() {
    this.load();
  },
  components: {
    loading: inlineLoaderVue
  },
  data() {
    return {
      products: [],

      api: api,
      loading: false,
      filter: "",
      categoryFilter: -1,
      activeFilter: -1,
      pagination: {
        Page: 0,
        PageSize: 50,
        ItemCount: 0,
        PageCount: 0
      }
    };
  },
  methods: {
    clear() {
      this.categoryFilter = -1;
      this.filter = "";
      this.activeFilter = -1;
      this.load();
    },
    async load() {
      this.loading = true;
      var res = await this.$api.Request("Admin/ListProducts", {
        filter: this.filter,
        categoryFilter: this.categoryFilter,
        activeFilter: this.activeFilter,
        pagination: this.pagination
      });
      this.products = res.products;
      this.pagination = res.pagination;
      this.loading = false;
    }
  }
};
</script>

<style>
</style>