<template>
  <md-card>
    <md-card-content>
      <loading v-if="loading"></loading>

      <div v-else class="md-layout">
        <div class="md-layout-item md-size-100">
          <h3>Sipariş Detayları</h3>
          <md-table>
            <md-table-row>
              <md-table-head>Müşteri İsim</md-table-head>
              <md-table-head>Müşteri Eposta</md-table-head>
              <md-table-head>Müşteri Telefon</md-table-head>
            </md-table-row>

            <md-table-row>
              <md-table-cell>{{order.User.Name}}</md-table-cell>
              <md-table-cell>{{order.User.Email}}</md-table-cell>
              <md-table-cell>{{order.User.Phone}}</md-table-cell>
            </md-table-row>
          </md-table>
        </div>
        <div class="md-layout-item md-size-100">
          <h3>Sipariş Notu</h3>
          <p>{{order.Note}}</p>
        </div>
        <div class="md-layout-item md-size-100">
          <h3>Altın Ons Fiyatı : {{order.OnsPrice |cevir }} {{order.Currency}}</h3>
          <md-button
            @click="calculate"
            class="md-raised md-primary md-dense"
          >Tüm Siparişin Ons Fiyatını Güncelle</md-button>
          <md-button
            @click="changeCurrency"
            class="md-raised md-primary md-dense"
          >{{order.Currency == 'USD' ? 'Para Birimini EUR Yap' : 'Para Birimini USD Yap'}}</md-button>
        </div>
        <div class="md-layout-item md-size-100">
          <h3>Sipariş Ürünleri</h3>
          <md-table>
            <md-table-row>
              <md-table-head>ID</md-table-head>
              <md-table-head>Ürün İsmi</md-table-head>
              <md-table-head>Ürün Resmi</md-table-head>

              <md-table-head>Orj.Ayar</md-table-head>
              <md-table-head>Orj.Gram</md-table-head>
              <md-table-head>Ayar</md-table-head>
              <md-table-head>Birim Gram</md-table-head>
              <md-table-head>Adet</md-table-head>
              <md-table-head>Durum</md-table-head>
              <md-table-head>Hammadde ücreti</md-table-head>
              <md-table-head>İşçilik</md-table-head>
            </md-table-row>
            <md-table-row v-for="orderItem in order.OrderItems" :key="orderItem.Id">
              <md-table-cell>{{orderItem.Id}}</md-table-cell>
              <md-table-cell>{{orderItem.Product.Name}}</md-table-cell>
              <md-table-cell class="image_cell">
                <img style :src="api.gen(orderItem.Product.Id)" alt />
              </md-table-cell>
              <md-table-cell>{{orderItem.OriginalCarat}}</md-table-cell>
              <md-table-cell>{{orderItem.OriginalUnitWeight}}</md-table-cell>
              <md-table-cell>{{orderItem.SelectedCarat}}</md-table-cell>
              <md-table-cell>{{orderItem.CalculatedUnitWeight}}</md-table-cell>
              <md-table-cell>{{orderItem.Quantity}}</md-table-cell>
              <md-table-cell>
                <md-field>
                  <label>Durum</label>
                  <md-select
                    :value="orderItem.Status"
                    @input="orderItem.Status =$event; changeOrderItemStatus(orderItem.Id,$event)"
                  >
                    <md-option :value="0">Beklemede</md-option>
                    <md-option :value="1">Hazirlaniyor</md-option>
                    <md-option :value="2">Hazir</md-option>
                  </md-select>
                </md-field>
              </md-table-cell>
              <md-table-cell>{{orderItem.MaterialPrice | cevir}} {{order.Currency}}</md-table-cell>
              <md-table-cell>
                <md-field>
                  <label for>İşçilik ({{order.Currency}})</label>
                  <md-input v-model.number="orderItem.LaborCost"></md-input>
                </md-field>
              </md-table-cell>
            </md-table-row>
          </md-table>
        </div>
      </div>
    </md-card-content>
    <md-card-actions>
      <md-button @click="save" class="md-raised md-primary">Kaydet</md-button>
    </md-card-actions>
  </md-card>
</template>

<script>
import inlineLoaderVue from "../../components/inlineLoader.vue";
import api from "@/api";
export default {
  components: {
    loading: inlineLoaderVue
  },
  data() {
    return {
      order: {},
      loading: false,
      api: api
    };
  },
  methods: {
    async changeCurrency() {
      this.loading = true;
      this.order = await this.$api.Request("Admin/ChangeOrderCurrency", {
        orderId: this.id
      });
      this.loading = false;
    },
    async calculate() {
      this.loading = true;
      this.order = await this.$api.Request("Admin/CalculateOnsPrice", {
        orderID: this.id
      });
      this.loading = false;
    },
    async changeOrderItemStatus(id, status) {
      this.loading = true;
      await this.$api.Request("Admin/SetOrderItemStatus", {
        orderItemId: id,
        status: status
      });
      this.loading = false;
    },

    async changeOrderStatus(id, status) {
      this.loading = true;
      await this.$api.Request("Admin/SetOrderStatus", {
        orderId: id,
        status: status
      });
      this.loading = false;
    },
    async save() {
      this.loading = true;
      await this.$api.Request("Admin/SaveOrderItems", {
        items: this.order.OrderItems
      });
      this.loading = false;
    },
    async load() {
      this.loading = true;
      this.order = await this.$api.Request("Admin/GetOrderDetail", {
        orderId: this.id
      });
      this.loading = false;
    }
  },
  watch: {
    id: {
      immediate: true,
      handler(nv, ov) {
        this.load();
      }
    }
  },
  props: {
    id: {
      type: String,
      default: "0"
    }
  }
};
</script>

<style>
</style>