<template>
  <div class="md-layout">
    <loading v-if="loading"></loading>
    <div class="md-layout-item md-size-100">
      <md-card class="no-margin">
        <md-card-header>
          <h2>Filtre</h2>
        </md-card-header>
        <md-card-content>
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-size-25">
              <md-field>
                <label>Arama Terimi</label>
                <md-input v-model="filter"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-size-25">
              <md-field>
                <label>Durum</label>
                <md-select v-model="statusFilter">
                  <md-option :value="-1">Birini Seçin</md-option>
                  <md-option :value="0">Beklemede</md-option>
                  <md-option :value="1">Onayli</md-option>
                </md-select>
              </md-field>
            </div>
          </div>
        </md-card-content>
        <md-card-actions>
          <md-button class="md-raised" @click="clear">Temizle</md-button>
          <md-button class="md-raised md-primary" @click="load">Filtrele</md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div class="md-layout-item md-size-100">
      <md-table>
        <md-table-row>
          <md-table-head>ID</md-table-head>
          <md-table-head>E-Posta</md-table-head>
          <md-table-head>İsim</md-table-head>
          <md-table-head>Sipariş Kalemleri</md-table-head>

          <md-table-head>Durum</md-table-head>
          <md-table-head></md-table-head>
        </md-table-row>
        <fragment v-for="order in orders" :key="order.Id">
          <md-table-row @dblclick="expand(order.Id)">
            <md-table-cell>{{order.Id}}</md-table-cell>
            <md-table-cell>{{order.User.Email}}</md-table-cell>
            <md-table-cell>{{order.User.Name}}</md-table-cell>
            <md-table-cell>{{order.OrderItems.length}}</md-table-cell>

            <md-table-cell>{{order.Status | siparisDurum}}</md-table-cell>
            <md-table-cell>
              <md-button class="md-raised md-icon-button md-primary" :to="'/siparis/'+order.Id">
                <md-icon>edit</md-icon>
              </md-button>
            </md-table-cell>
          </md-table-row>
          <md-table-row class="inner-row" v-if="ordersExpanded[order.Id]" style="padding:15px">
            <md-table-cell class="inner-cell" colspan="99">
              <md-card>
                <md-card-content style="background:white">
                  <table>
                    <md-table-row>
                      <md-table-head>ID</md-table-head>
                      <md-table-head>Ürün İsmi</md-table-head>
                      <md-table-head>Ürün Resmi</md-table-head>

                      <md-table-head>Orj.Ayar</md-table-head>
                      <md-table-head>Orj.Gram</md-table-head>
                      <md-table-head>Ayar</md-table-head>
                      <md-table-head>Birim Gram</md-table-head>
                      <md-table-head>Adet</md-table-head>
                      <md-table-head>Durum</md-table-head>
                    </md-table-row>
                    <md-table-row v-for="orderItem in order.OrderItems" :key="orderItem.Id">
                      <md-table-cell>{{orderItem.Id}}</md-table-cell>
                      <md-table-cell>{{orderItem.Product.Name}}</md-table-cell>
                      <md-table-cell class="image_cell">
                        <img style :src="api.gen(orderItem.Product.Id)" alt />
                      </md-table-cell>
                      <md-table-cell>{{orderItem.OriginalCarat}}</md-table-cell>
                      <md-table-cell>{{orderItem.OriginalUnitWeight}}</md-table-cell>
                      <md-table-cell>{{orderItem.SelectedCarat}}</md-table-cell>
                      <md-table-cell>{{orderItem.CalculatedUnitWeight}}</md-table-cell>
                      <md-table-cell>{{orderItem.Quantity}}</md-table-cell>
                      <md-table-cell>{{orderItem.Status | siparisKalemDurum}}</md-table-cell>
                    </md-table-row>
                  </table>
                </md-card-content>
              </md-card>
            </md-table-cell>
          </md-table-row>
        </fragment>
      </md-table>
    </div>
  </div>
</template>

<script>
import inlineLoaderVue from "../../components/inlineLoader.vue";
import api from "@/api";

export default {
  data() {
    return {
      orders: [],
      ordersExpanded: {},

      api: api,
      loading: false,
      filter: "",
      statusFilter: -1,
      pagination: {
        Page: 0,
        PageSize: 50,
        ItemCount: 0,
        PageCount: 0
      }
    };
  },
  methods: {
    clear() {
      this.filter = "";
      this.statusFilter = -1;

      this.load();
    },
    expand(Id) {
      var val = !this.ordersExpanded[Id];
      this.ordersExpanded[Id] = val;
      this.$forceUpdate();
    },
    async load() {
      this.loading = true;
      var res = await this.$api.Request("Admin/ListOrders", {
        filter: this.filter,
        statusFilter: this.statusFilter,
        pagination: this.pagination
      });
      this.orders = res.orders;
      this.pagination = res.pagination;
      this.loading = false;
    }
  },
  created() {
    this.load();
  },
  components: {
    loading: inlineLoaderVue
  }
};
</script>

<style>
</style>