<template>
  <div>
    <loading v-if="loading"></loading>
    <md-card>
      <md-card-content>
        <div class="md-layout md-gutter">
          <div class="md-layout-item md-size-25">
            <md-field>
              <label for>E-posta</label>
              <md-input v-model="user.Email"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-25">
            <md-field>
              <label for>İsim</label>
              <md-input v-model="user.Name"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-25">
            <md-field>
              <label for>Telefon</label>
              <md-input v-model="user.Phone"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-25">
            <md-field>
              <label for>Şehir</label>
              <md-input v-model="user.City"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-25">
            <md-field>
              <label for>İlçe</label>
              <md-input v-model="user.District"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-25">
            <md-field>
              <label for>Adres</label>
              <md-textarea v-model="user.Address"></md-textarea>
            </md-field>
          </div>
          <div class="md-layout-item md-size-25">
            <md-field>
              <label>Durum</label>
              <md-select v-model="user.Status">
                <md-option :value="0">Beklemede</md-option>
                <md-option :value="1">Onayli</md-option>
              </md-select>
            </md-field>
          </div>
        </div>
        <div class="md-layout-item md-size-100">
          <h3>Yetkiler</h3>
        </div>
        <div class="md-layout-item md-size-100">
          <div class="md-layout-item md-size-25">
            <md-checkbox v-model="user.IsAdmin">Admin Yetkisi</md-checkbox>
          </div>
          <div class="md-layout-item md-size-25">
            <md-checkbox v-model="user.IsAtolye">Atölye Yetkisi</md-checkbox>
          </div>
        </div>
      </md-card-content>
      <md-card-actions>
        <md-button class="md-raised md-primary" @click="save">Kaydet</md-button>
      </md-card-actions>
    </md-card>
  </div>
</template>

<script>
import inlineLoaderVue from "../../components/inlineLoader.vue";
export default {
  components: {
    loading: inlineLoaderVue
  },
  data() {
    return {
      loading: true,
      user: {}
    };
  },
  methods: {
    async load() {
      this.loading = true;
      this.user = await this.$api.Request("Admin/GetUserDetail", {
        id: this.id
      });
      this.loading = false;
    },
    async save() {
      this.loading = true;
      await this.$api.Request("Admin/SaveUser", {
        user: this.user
      });
      this.loading = false;
    }
  },
  created() {
    this.load();
  },
  props: {
    id: {
      type: String,
      default: "0"
    }
  }
};
</script>

<style>
</style>