<template>
  <div class="md-layout">
    <loading v-if="loading"></loading>
    <div class="md-layout-item md-size-100">
      <md-card class="no-margin">
        <md-card-header>
          <h2>Filtre</h2>
        </md-card-header>
        <md-card-content>
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-size-25">
              <md-field>
                <label>Arama Terimi</label>
                <md-input v-model="filter"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-size-25">
              <md-field>
                <label>Durum</label>
                <md-select v-model="statusFilter">
                  <md-option :value="-1">Birini Seçin</md-option>
                  <md-option :value="0">Beklemede</md-option>
                  <md-option :value="1">Onayli</md-option>
                </md-select>
              </md-field>
            </div>
            <div class="md-layout-item md-size-25">
              <md-checkbox class="no-margin" v-model="isUser">Sadece Kullanıcılar</md-checkbox>
              <md-checkbox class="no-margin" v-model="isAdmin">Sadece Adminler</md-checkbox>
              <md-checkbox class="no-margin" v-model="isAtolye">Sadece Atölyeler</md-checkbox>
            </div>
          </div>
        </md-card-content>
        <md-card-actions>
          <md-button class="md-raised" @click="clear">Temizle</md-button>
          <md-button class="md-raised md-primary" @click="load">Filtrele</md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div class="md-layout-item md-size-100">
      <md-table>
        <md-table-row>
          <md-table-head>ID</md-table-head>
          <md-table-head>E-Posta</md-table-head>
          <md-table-head>İsim</md-table-head>
          <md-table-head>Durum</md-table-head>
          <md-table-head>Şehir</md-table-head>
          <md-table-head>Tip</md-table-head>
          <md-table-head></md-table-head>
        </md-table-row>
        <md-table-row v-for="user in users" :key="user.Id">
          <md-table-cell>{{user.Id}}</md-table-cell>
          <md-table-cell>{{user.Email}}</md-table-cell>
          <md-table-cell>{{user.Name}}</md-table-cell>
          <md-table-cell>{{user.Status |kullaniciDurum}}</md-table-cell>
          <md-table-cell>{{user.City}}</md-table-cell>
          <md-table-cell>{{user | kullaniciTip}}</md-table-cell>
          <md-table-cell>
            <md-button class="md-raised md-icon-button md-primary" :to="'/kullanici/'+user.Id">
              <md-icon>edit</md-icon>
            </md-button>
          </md-table-cell>
        </md-table-row>
      </md-table>
    </div>
  </div>
</template>

<script>
import inlineLoaderVue from "../../components/inlineLoader.vue";
export default {
  data() {
    return {
      users: [],

      loading: false,
      filter: "",
      statusFilter: -1,
      isAdmin: false,
      isUser: false,
      isAtolye: false,
      pagination: {
        Page: 0,
        PageSize: 50,
        ItemCount: 0,
        PageCount: 0
      }
    };
  },
  methods: {
    clear() {
      this.filter = "";
      this.statusFilter = -1;
      this.isAdmin = false;
      this.isUser = false;
      this.isAtolye = false;

      this.load();
    },
    async load() {
      this.loading = true;
      var res = await this.$api.Request("Admin/ListUsers", {
        filter: this.filter,
        statusFilter: this.statusFilter,
        isAdmin: this.isAdmin,
        isUser: this.isUser,
        isAtolye: this.isAtolye,
        pagination: this.pagination
      });
      this.users = res.users;
      this.pagination = res.pagination;
      this.loading = false;
    }
  },
  created() {
    this.load();
  },
  components: {
    loading: inlineLoaderVue
  }
};
</script>

<style>
</style>