<template>
  <div :class="'page-container ' + (this.$store.state.darkMode ? 'dark':'light')">
    <md-app md-waterfall md-mode="fixed">
      <md-app-toolbar class="md-primary">
        <span class="md-title">{{$router.currentRoute.name}}</span>
      </md-app-toolbar>

      <md-app-drawer md-permanent="full">
        <md-toolbar class="md-transparent" md-elevation="0">Menü</md-toolbar>

        <md-list>
          <md-list-item to="/" exact>
            <md-icon>home</md-icon>
            <span class="md-list-item-text">Anasayfa</span>
          </md-list-item>
          <md-list-item to="/kullanicilar">
            <md-icon>person</md-icon>
            <span class="md-list-item-text">Kullanıcılar</span>
          </md-list-item>
          <md-list-item to="/siparisler">
            <md-icon>shopping_cart</md-icon>
            <span class="md-list-item-text">Siparişler</span>
          </md-list-item>
          <md-list-item to="/urunler">
            <md-icon>layers</md-icon>
            <span class="md-list-item-text">Ürünler</span>
          </md-list-item>
          <md-list-item to="/kategoriler">
            <md-icon>category</md-icon>
            <span class="md-list-item-text">Kategoriler</span>
          </md-list-item>
        </md-list>
      </md-app-drawer>

      <md-app-content>
        <router-view />
      </md-app-content>
    </md-app>
  </div>
</template>

<style>
</style>


<script>
import Vue from "vue";
export default {
  created() {
    if (this.$store.state.darkMode)
      import("vue-material/dist/theme/default-dark.css");
    else import("vue-material/dist/theme/default.css");

    this.$api.Request("Auth/LoginWithToken", {
      token: Vue.cookie.get("userToken")
    });
  },
  methods: {}
};
</script>

