<template>
  <div class="md-layout">
    <div class="md-layout-item md-size-30"></div>
    <div class="md-layout-item md-size-40">
      <md-card>
        <md-card-content>
          <md-field>
            <label for>Eposta Adresi</label>
            <md-input v-model="email"></md-input>
          </md-field>
          <md-field>
            <label for>Şifre</label>
            <md-input type="password" v-model="password"></md-input>
          </md-field>
          <md-button class="md-raised md-primary" @click="login">Giriş Yap</md-button>
        </md-card-content>
      </md-card>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    login() {
      this.$store.commit("Login", {
        email: this.email,
        password: this.password
      });
    }
  }
};
</script>

<style>
</style>